.container {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: Assistant, sans-serif;
  padding: 0 8px;
}

.tabBar {
  display: flex;
  align-items: center;
  background-color: var(--island-bg-color, #ffffff);
  border-radius: var(--border-radius-lg, 0.5rem);
  box-shadow: 0 0 0 1px var(--color-surface-lowest, #ffffff);
  overflow: hidden;
}

.createTabButton {
  background-color: var(--color-surface-low, #ececf4);
  border-top-right-radius: var(--border-radius-lg, 0.5rem);
  border-bottom-right-radius: var(--border-radius-lg, 0.5rem);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--lg-button-size, 2.25rem);
  width: var(--lg-button-size, 2.25rem);
  user-select: none;
  flex-shrink: 0;

  &:hover {
    background-color: var(--button-hover-bg, #f1f0ff);
  }
}
