.loadButton {
  align-items: center;
  background-color: var(--color-surface-low);
  border: none;
  border-radius: var(--border-radius-lg);
  box-shadow: 0 0 0 1px var(--color-surface-lowest);
  color: var(--color-on-surface);
  cursor: pointer;
  display: flex;
  font-family: var(--ui-font);
  font-size: 0.75rem;
  letter-spacing: 0.4px;
  gap: 0.5rem;
  height: var(--lg-button-size);
  padding: 0 0.625rem;

  &:hover {
    background-color: var(--color-surface-high);
  }
}

.title {
  color: #6965db;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.body {
  font-size: .875rem;
  line-height: 150%;
}

.input {
  border: 1.5px solid #c5c5d0;
  border-radius: 6px;
  color: #2f2f3b;
  font-size: 1rem;
  font-weight: 400;
  height: 3rem;
  margin-top: .5rem;
  outline: none;
  padding: 8px 12px;
  transition: border-color 0.2s;
  width: 100%;

  &:focus {
    background: #fff;
    border-color: #6965db;
  }
}

.error {
  color: red;
  margin-top: .5rem;
}